[user]
    name = Fabian Hof

#################################
# Core variables
#################################
[core]
    excludesfile = ~/.gitignore
    editor = nvim
    pager = less -r
[gc]
    auto = 0

#################################
# Merge and Diff
#################################
[diff]
    tool = meld
    algorithm = patience
[difftool]
    prompt = no
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
    algorithm = patience
    renamelimit = 4096
[mergetool]
    prompt = no
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

#################################
# Pretty formatting
#################################
[format]
    pretty = format:%h %an %ar:%x09%s
[color]
    ui = auto
[color "branch"]
    current = reverse
[alias]
    # Show all the alias in this file.
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
#################################
# Branches
#################################
[push]
    default = tracking
[pull]
    default = current
[rebase]
    autosquash = true
[branch]
    autosetuprebase = always

#################################
# diff
#################################
[core]
    pager = delta --light

[interactive]
    diffFilter = delta --color-only --light

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = master
