
[user]
    name = Fabian Hof
    email = Fabian.Hof@l3t.com

#################################
# Core variables
#################################
[core]
    excludesfile = ~/.gitignore
    editor = nvim
    pager = less -r
[gc]
    auto = 0

#################################
# Merge and Diff
#################################
[diff]
    tool = diffuse
    algorithm = patience
[difftool]
    prompt = no
[difftool "diffuse"]
    cmd = diffuse $LOCAL $REMOTE

[merge]
    tool = diffuse
    algorithm = patience
	renamelimit = 4096
[mergetool]
    prompt = no
[mergetool "diffuse"]
    cmd = diffuse $LOCAL $MERGED $REMOTE

#################################
# Pretty formatting
#################################
[format]
    pretty = format:%h %an %ar:%x09%s
[color]
    ui = auto
[color "branch"]
    current = reverse
[alias]
    # Show all the alias in this file.
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
#################################
# Branches
#################################
[push]
    default = tracking
[pull]
    default = current
[rebase]
    autosquash = true

[branch]
    autosetuprebase = always
