---
Language:        Cpp
# BasedOnStyle:  Google
BreakBeforeBraces: Stroustrup

ColumnLimit:     80
IndentWidth:     4
MaxEmptyLinesToKeep:    2
AlignTrailingComments:  true
AlignOperands:          true
AlignConsecutiveAssignments:    true
ReflowComments:         true
BinPackArguments:       true
BinPackParameters:      true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket:  Align
DerivePointerAlignment: true
IndentCaseLabels:       false
PointerAlignment: Right
SpaceAfterCStyleCast:   true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
IndentWrappedFunctionNames: true
Cpp11BracedListStyle: false
...
